


/*
PC Version
*/

@media only screen and (min-width: 500px) {

    .boxinforer {
        background-color: white;
        border-radius: 10px;
        width: 300px;
        height: 100px;
        position: absolute;
        left: 35%;
    
    
    
    
    }




    
    .nav {
        background-color: black;
        width: 100;
        height: 50px;
        border-radius: 10px;
        
    }
    
    .madedrp {
        color: white;
        font-size: 18px;
        position: absolute;
        right: 19px;
        top: 23px;
    }
    
    .backdrp {
        position: absolute;
        right: 12px;
        top: 15px;
        border-radius: 10px;
        width: 140px;
        height: 35px;
    }    
}
    
.titleip {
    position: absolute;
    left: 78px;
    top: 10px;
    color: black;
    border-radius: 5px;
    font-family: 'REM', sans-serif;
    
}




.backips {
    position: absolute;
    width: 150px;
    right: 38px;
    bottom: 13px;
    height: 30px;
    background-color: rgb(101, 80, 192);
    border-radius: 10px;
}

.box2 {
    width: 220px;
    height: 80px;
    background: linear-gradient(to right, #fffbe7, #fff5bd);
    right: 10px;
    top: 70px;
    border-radius: 10px;
    position: absolute;
    background-color: whitesmoke;
}


.ips {
    position: absolute;
    top: 43px;
    right: 79px;
    align-items: center;
    color: white;
    font-family: 'REM', sans-serif;
}    

.boxinforer {
    
    position: absolute;
    background: linear-gradient(to left, #fffbe7, #fff3b0);
    width: 220px;
    height: 80px;
    background-color: rgb(253, 253, 253);
    border-radius: 10px;
    left: 10px;
    top: 70px;
    
    }
    
.nav {
    background-color: white;
    background: linear-gradient(to right, #ffffff, #fcf9ea);
    width: 100;
    height: 50px;
    border-radius: 30px;
        
    }
    



.imageback {
    position: absolute;
    
    right: 1px;
    bottom: 1px;
}


@keyframes colorasion {
    0% {
        background-color: rgb(253, 253, 253);
    }
    100% {
        background: linear-gradient(to right, #36C6FF , #29e9df)
    }

    
}

.backdrp {
    position: absolute;
    left: 14px;
    top: 14px;
    border-radius: 30px;
    background: linear-gradient(to right, #36C6FF , #29e9df);
    width: 135px;
    animation-name: colorasion;
    animation-duration: 2s;
    height: 40px;
}

.madedrp {
    color: black;
    font-size: 18px;
    position: absolute;
    left: 25px;
    top: 22px;
    font-family: 'REM', sans-serif;
        
    


    }

.countrol {
    position: absolute;
    top: 43px;
    right: 82px;
    color: white;
    font-family: 'REM', sans-serif;
}

.backbox2 {
    position: absolute;
    width: 130px;
    right: 43px;
    bottom: 13px;
    height: 30px;
    top: 37px;
    background-color: rgb(101, 80, 192);
    border-radius: 10px;
}

.titlebox2 {
    position: absolute;
    left: 84px;
    top: 10px;
    color: black;
    font-family: 'REM', sans-serif;
}

body {
background: linear-gradient(to right, #ddd089, #ccbe70);
}









.musicplayer {
    width: 100px;
    height: 48px;
    position: absolute;
    background-color: black;
    right: 8px;
    top: 9px;
    border-radius: 50px;

}


.browser {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    width: 10px;
    left: 12px;
    font-size: 20.7px;
    top: 11px;
    animation-name: musicplay;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    color: white;
    font-family: 'REM', sans-serif;
}


@keyframes musicplay {
    10% {
        color: aquamarine;
    }
    40% {
        color: greenyellow;
    }
    70% {
        color: rgb(224, 59, 224);
    }
    90% {
        color: yellow;
    }
    100% {
        color: aquamarine;
    }
}




@keyframes colorb {
    30% {
        background-color: #416574;
    }
    50% { background-color: #3c6679;
    }
    100% {
        background-color: #416f83;
    }
}



.backbox3 {
    position: absolute;
    width: 100px;
    background: linear-gradient(to left, #fffbe7, #fff3b0);
    height: 100px;
    top: 170px;
    border-radius: 10px;
    width: 220px;
    height: 75px;
}

.boxin {
    position: absolute;
    background-color: rgb(101, 80, 192);
    width: 150px;
    height: 30px;
    left: 40px;
    border-radius: 10px;
    top: 210px;
}















/* PC VERSION */




@media only screen and (min-width: 451px) {
.gitdrpanayioths {
    position: absolute;
    left: 12px;
    top: 15px;
    z-index: 10;
    user-select: none;
    border-radius: 10px;
    width: 140px;
    height: 40px;
}




.box5 {
    position: absolute;
    width: 100px;
    background: linear-gradient(to right, #fffbe7, #fff3b0);
    height: 100px;
    top: 170px;
    right: 10px;
    border-radius: 10px;
    width: 220px;
    height: 80px;
}

.boxin {
    position: absolute;
    width: 150px;
    left: 40px;
}

.backbox3 {
    width: 220px;
}




.tllvl {
    position: absolute;
    font-size: 18px;
    top: 214px;
    left: 82px;
    color: white;
    font-family: 'REM', sans-serif;
}


.divver {
    position: absolute;
    top: 182px;
    font-family: 'REM', sans-serif;
    font-size: 16px;
    left: 68px;
}

/* QR CATEGORY PC */


.inpa {
    position: absolute;
    background-color: black;
    color: rgb(184, 182, 182);
    width: 500px;
    bottom: 50px;
    outline: none;
    border-radius: 10px;
    font-family: 'Gabarito', sans-serif;
    left: 30%;
    border: none;
    font-size: 15px;
    text-align: center;
    height: 45px;
}

.searchico {
    position: absolute;
    height: 35px;
    bottom: 5px;
    cursor: pointer;
    left: 460px;
}

.qrclass {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    bottom: 150px;
    left: 41%;
    width: 200px;
    height: 200px;
    z-index: 3;

}


.bqr {

    position: absolute;
    width: 230px;
    height: 220px;
    border-radius: 10px;
    z-index: 1;
    bottom: 143px;
    left: 40%;
    background-color: white;
    
}

.qrupthing {
    position: absolute;
    color: black;
    font-family: 'Space Grotesk', sans-serif;
    width: 230px;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    bottom: 205px;
}

.k {
    position: absolute;
    width: 1px;
    bottom: 50px;
    border-radius: 10px;
    z-index: 5;
    background-color: white;
    left: 30%;
    height: 45px;
}


  




/* Password Strength Checker */

.palo {
    position: absolute;
    border: #3c6679;
    color: azure;
    background-color: rgb(39, 38, 2);
    top: 210px;
    right: 30px;
    height: 30px;
    width: 180px;
    outline: none;
    font-family: 'Gabarito', sans-serif;
    text-align: center;
    border-radius: 10px;

}


.passshow {
    position: absolute;
    color: black;
    font-family: 'Gabarito', sans-serif;
    right: 80px;
    top: 190px;
}

.tite5 {
    position: absolute;
    right: 65px;
    font-size: 13px;
    top: 2px;
    color: black;
    font-family: 'REM', sans-serif;
}
}

.adblocks { 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    color: black;
    bottom: 0.5%;
    font-family: 'Gabarito', sans-serif;
    opacity: 0.4;
    left: 9px;
}




/* Down Light */
.downlight {
    position: absolute;
    width: 1px;
    height: 3px;
    left: 0px;
    bottom: 0px;
    background-color: green;
  }
.downcat {
    width: 100%;
    background-color: grey;
  }
  




/* Crypto Tracker */

.box7 {
    position: absolute;
    width: 100px;
    background: linear-gradient(to left, #fffbe7, #fff3b0);
    height: 100px;
    top: 270px;
    left: 10px;
    border-radius: 10px;
    width: 220px;
    height: 80px;
}

.cryptotitle {
    position: absolute;
    font-family: 'Gabarito', sans-serif;
    left: 50px;
}

.crypto {
    position: absolute;
    font-family: 'REM', sans-serif;
    top: 30px;
    left: 67px;
}

.cryptoname {
    position: absolute;
    font-family: 'Gabarito', sans-serif;
    top: 18px;
    font-size: 13px;
    left: 92px;
}


/* Bitcoin Tracka */

.bitimg {
    position: absolute;
    bottom: 1px;
    z-index: 1;
    left: 1px;
}

.bitcoin {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    opacity: 0;
    z-index: 5;
    bottom: 1px;
    left: 0.1px;
    cursor: pointer;
}
.coverbit {
    position: absolute;
    width: 220px;
    height: 82px;
    border-radius: 10px;
    opacity: 0;
    z-index: 5;
    bottom: 0.1px;
    background-color: #29e9df;
    left: 0.1px;
    z-index: 1;
}

/* Etheruam Tracka */


.eth {
    position: absolute;
    bottom: 1px;
    right: 1px;
}
.etharomen {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    opacity: 0;
    z-index: 5;
    bottom: 1px;
    right: 0.1px;
    cursor: pointer;
}




/* SpeedTest */
.box8 {
    position: absolute;
    width: 100px;
    background: linear-gradient(to left, #fffbe7, #fff3b0);
    height: 150px;
    top: 270px;
    right: 10px;
    border-radius: 10px;
    width: 220px;
    height: 80px;
}

.titlebox8 {
    font-family: 'Gabarito', sans-serif;
    color: black;
    text-align: center;
}




/* Weather Display */

.inputcountry {
    position: absolute;
    left: 20px;
    width: 180px;
    outline: none;
    cursor: pointer;
    background-color: rgb(250, 240, 222);
    top: 48px;
    height: 30px;
    border-radius: 10px;
}

.response {
    position: absolute;
    left: 7%;
    top: 28%;
    font-size: 14px;
    font-family: 'Gabarito', sans-serif;
}

/* Audio Player */
.box9{
    position: absolute;
    width: 100px;
    background: linear-gradient(to left, #fffbe7, #fff3b0);
    height: 150px;
    top: 375px;
    left: 10px;
    border-radius: 10px;
    width: 220px;
    height: 80px;
}

.mp3play {
    position: absolute;
    top: 423px;
    left: 12px;
    width: 215px;
    border-radius: 30px;
    outline: black solid 2px;
    z-index: 2;
    height: 30px;
}

.musictitle {
    position: absolute;
    font-family: 'Roboto Slab', serif;
    top: 0.1px;
    left: 35px;
    font-size: 15px;
}

/* Chill Button Click */

.chillclick {
    position: absolute;
    font-family: 'Kdam Thmor Pro', sans-serif;
    transform: rotate(270deg);
    color: white;
    right: 187px;
    border-radius: 6px;
    bottom: 46.5px;
    font-size: 18px;
    text-align: right;
    background-color: black;
    width: 40px;
    height: 25px;
}

.clickbox_chill {
    width: 82px;
    height: 25px;
    right: 170px;
    border-radius: 6px;
    cursor: pointer;
    bottom: 28px;
    position: absolute;
    z-index: 1;
    transform: rotate(270deg);
}

/* Cookie Clicker */

.box10 {
    position: absolute;
    width: 100px;
    background: linear-gradient(to left, #fffbe7, #fff3b0);
    height: 150px;
    top: 375px;
    right: 10px;
    border-radius: 10px;
    width: 220px;
    height: 80px;
}

.title_box10 {
    position: absolute;
    left: 45px;
    top: 0.5px;
    font-family: 'Gabarito', sans-serif;
}



/* Country Flag Before Output */

.flagofcountrer {
    position: absolute;
    height: 40px;
    width: auto;
    top: 32px;
    left: 5px
}

.flag2 {
    position: absolute;
    height: 40px;
    width: auto;
    top: 32px;
    right: 1px
}




/* Cookie Clicker */

.box10 {
    position: absolute;
    width: 100px;
    background: linear-gradient(to left, #fffbe7, #fff3b0);
    height: 150px;
    top: 375px;
    right: 10px;
    border-radius: 10px;
    width: 220px;
    height: 80px;
}

.title_box10 {
    position: absolute;
    left: 65px;
    top: 0.5px;
    font-family: 'Gabarito', sans-serif;
}

.gameplay {
    position: absolute;
    background-color: black;
    color: white;
    outline: rgb(134, 0, 0) solid 2px;
    border: none;
    top: 25px;
    width: 200px;
    left: 10px;
    cursor: url("Cookie/Cookie.png"), auto;
    height: 50px;
    border-radius: 5px;
}