


/*
PC Version
*/

@media only screen and (min-width: 800px) {

    .boxinforer {
        background-color: white;
        border-radius: 10px;
        width: 300px;
        height: 100px;
        position: absolute;
        left: 35%;
    
    
    
    
    }
    
    .nav {
        background-color: black;
        width: 100;
        height: 50px;
        border-radius: 10px;
        
    }
    
    .madedrp {
        color: white;
        font-size: 18px;
        position: absolute;
        right: 19px;
        top: 23px;
    }
    
    .backdrp {
        position: absolute;
        right: 12px;
        top: 15px;
        border-radius: 10px;
        background-color: purple;
        width: 140px;
        height: 35px;
    }
    
    
    
    
    
    }
    
    

/*
Mobile Version
*/


@media only screen and (min-width: 500px) {
    
.titleip {
    position: absolute;
    left: 79px;
    top: 10px;
    color: black;
    border-radius: 5px;
    font-family: 'REM', sans-serif;
    
}

.backips {
    position: absolute;
    width: 100px;
    right: 65px;
    bottom: 13px;
    height: 30px;
    background-color: rgb(101, 80, 192);
    border-radius: 10px;
}

.box2 {
    width: 220px;
    height: 80px;
    right: 10px;
    top: 70px;
    border-radius: 10px;
    position: absolute;
    background-color: whitesmoke;
}


.ips {
    position: absolute;
    top: 43px;
    right: 80px;
    color: white;
    font-family: 'REM', sans-serif;
}    

.boxinforer {
    
    position: absolute;
    width: 220px;
    height: 80px;
    background-color: rgb(253, 253, 253);
    border-radius: 10px;
    left: 10px;
    top: 70px;
    
    }
    
.nav {
    background-color: white;
    width: 100;
    height: 50px;
    border-radius: 30px;
        
    }
    
.madedrp {
    color: black;
    font-size: 18px;
    position: absolute;
    right: 25px;
    top: 22px;
    font-family: 'REM', sans-serif;
        
    }
.backdrp {
    position: absolute;
    right: 14px;
    top: 14px;
    border-radius: 30px;
    background-color: rgb(54, 198, 255);
    width: 100px;
    height: 40px;
}

}


.countrol {
    position: absolute;
    top: 43px;
    right: 80px;
    color: white;
    font-family: 'REM', sans-serif;
}

.backbox2 {
    position: absolute;
    width: 100px;
    right: 56px;
    bottom: 13px;
    height: 30px;
    top: 37px;
    background-color: rgb(101, 80, 192);
    border-radius: 10px;
}

.titlebox2 {
    position: absolute;
    left: 84px;
    top: 10px;
    color: black;
    font-family: 'REM', sans-serif;
}

body {
background-color:rgb(231, 208, 164);
}