


/*
PC Version
*/

@media only screen and (min-width: 500px) {

    .boxinforer {
        background-color: white;
        border-radius: 10px;
        width: 300px;
        height: 100px;
        position: absolute;
        left: 35%;
    
    
    
    
    }
    
    .nav {
        background-color: black;
        width: 100;
        height: 50px;
        border-radius: 10px;
        
    }
    
    .madedrp {
        color: white;
        font-size: 18px;
        position: absolute;
        right: 19px;
        top: 23px;
    }
    
    .backdrp {
        position: absolute;
        right: 12px;
        top: 15px;
        border-radius: 10px;
        background-color: purple;
        width: 140px;
        height: 35px;
    }
    
    
    
    
    
    }
    
    

/*
Mobile Version
*/

@media only screen and (min-width: 300px) {
    
.titleip {
    position: absolute;
    left: 82px;
    top: 10px;
    color: black;
    border-radius: 5px;
    font-family: 'REM', sans-serif;
    
}

.backips {
    position: absolute;
    width: 150px;
    right: 38px;
    bottom: 13px;
    height: 30px;
    background-color: rgb(101, 80, 192);
    border-radius: 10px;
}

.box2 {
    width: 220px;
    height: 80px;
    right: 10px;
    top: 70px;
    border-radius: 10px;
    position: absolute;
    background-color: whitesmoke;
}


.ips {
    position: absolute;
    top: 43px;
    right: 79px;
    align-items: center;
    color: white;
    font-family: 'REM', sans-serif;
}    

.boxinforer {
    
    position: absolute;
    width: 220px;
    height: 80px;
    background-color: rgb(253, 253, 253);
    border-radius: 10px;
    left: 10px;
    top: 70px;
    
    }
    
.nav {
    background-color: white;
    width: 100;
    height: 50px;
    border-radius: 30px;
        
    }
    



.imageback {
    position: absolute;
    
    right: 1px;
    bottom: 1px;
}


@keyframes colorasion {
    0% {
        background-color: rgb(253, 253, 253);
    }
    100% {
        background-color: rgb(54, 198, 255);
    }

    
}

.backdrp {
    position: absolute;
    left: 14px;
    top: 14px;
    border-radius: 30px;
    background-color: rgb(54, 198, 255);
    width: 135px;
    animation-name: colorasion;
    animation-duration: 2s;
    height: 40px;
}

.madedrp {
    color: black;
    font-size: 18px;
    position: absolute;
    left: 25px;
    top: 22px;
    font-family: 'REM', sans-serif;
        
    


    }

}


.countrol {
    position: absolute;
    top: 43px;
    right: 80px;
    color: white;
    font-family: 'REM', sans-serif;
}

.backbox2 {
    position: absolute;
    width: 130px;
    right: 40px;
    bottom: 13px;
    height: 30px;
    top: 37px;
    background-color: rgb(101, 80, 192);
    border-radius: 10px;
}

.titlebox2 {
    position: absolute;
    left: 84px;
    top: 10px;
    color: black;
    font-family: 'REM', sans-serif;
}

body {
background-color:rgb(231, 208, 164);
}









.musicplayer {
    width: 100px;
    height: 5.2%;
    position: absolute;
    background-color: black;
    right: 20px;
    top: 13px;
    border-radius: 50px;

}


.browser {
    position: absolute;
    width: 10px;
    left: 12px;
    font-size: 20.7px;
    top: 8px;
    animation-name: musicplay;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    color: white;
    font-family: 'REM', sans-serif;
}


@keyframes musicplay {
    10% {
        color: aquamarine;
    }
    40% {
        color: greenyellow;
    }
    70% {
        color: rgb(224, 59, 224);
    }
    90% {
        color: yellow;
    }
    100% {
        color: aquamarine;
    }
}















.donate {
    position: absolute;
    right: 19px;
    bottom: 3.8%;
    font-family: 'REM', sans-serif;
    color: #fffb00;
    font-size: 20px;
    
    
    
}



.donatebck {
    position: absolute;
    width: 100px;
    animation-iteration-count: infinite;
    background-color: #416574;
    height: 36px;
    bottom: 3%;
    right: 5px;
    border-radius: 80px;
    animation-name: colorb;
    animation-duration: 10s;
}


@keyframes colorb {
    30% {
        background-color: #416574;
    }
    50% { background-color: #3c6679;
    }
    100% {
        background-color: #416f83;
    }
}



@media only screen and (min-width: 100px) and (max-width: 450px) {
    .box2 {
        width: 150px;
    }
    .boxinforer {
        width: 150px;
    }
    .backbox2{
        right: 11px;
    }
    .countrol {
        right: 50px;
    }
    .titlebox2  {
       position: absolute;
       
       left: 45px;
    }
    .titleip {
        left: 45px;
    }
    .ips {
        left: 30px;
    }
    .backips {
        left: px;
        width: 120px;
        left: 15px;
    }
}