


/* QR Category */

.inpa {
    position: absolute;
    background-color: black;
    color: rgb(184, 182, 182);
    width: 500px;
    bottom: 50px;
    border-radius: 10px;
    font-family: 'Chakra Petch', sans-serif;
    left: 30%;
    border: none;
    font-size: 15px;
    text-align: center;
    height: 45px;
}

.qrclass {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    bottom: 150px;
    left: 41%;
    width: 200px;
    height: 200px;
    z-index: 3;

}

body {
    background-color: rgb(70, 69, 69);
}


.bqr {

    position: absolute;
    width: 230px;
    height: 220px;
    border-radius: 10px;
    z-index: 1;
    bottom: 143px;
    left: 40%;
    background-color: white;
}

.qrupthing {
    position: absolute;
    color: black;
    font-family: 'Space Grotesk', sans-serif;
    width: 230px;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    bottom: 205px;
}

.qrtitle {
    position: absolute;
    color: whitesmoke;
    font-family: 'Space Grotesk', sans-serif;
    width: 230px;
    text-align: center;
    font-size: 25px;
    background-color: rgb(58, 55, 55);
    border-radius: 4px;
    bottom: 240px;
    left: 250px;


}










/* Credits Category */

@keyframes kiklo {
    0% {
        transform: rotate(360deg); /* Starting position - no rotation */
    }
    100% {
        transform: rotate(260deg); /* Ending position - full rotation (360 degrees) */
    }
    
}

.hova {
    position: absolute;
    right: 10px;
    bottom: 20px;
    width: 50px;
    height: 50px;

    z-index: 10;
}

.created {

    position: absolute;
    height: 50px;
    transition: transform 0.3s ease;
    z-index: 1;

}

.hova:hover .created {
    animation: kiklo;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}



.crr {
    user-select: none;
    position: absolute;
    width: 180px;
    height: 50px;
    color: aliceblue;
    opacity: 0;
    top: 25%;
    transition: opacity 2s ease;
    z-index: 10;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    right: 30px;
}

.hova:hover .crr {
    opacity: 1;
}


