

body {
    background-color: #303030;
    
}

.skinbox {
    position: absolute;
    width: 1500px;
    height: 70px;;
    background-color: #1f1c1c;
    right: 130px;
    top: 50px;
    border-radius: 15px;
}




.title {
    font-size: 30px;
    position: absolute;
    color: aliceblue;
    font-family: 'Signika Negative';
    left: 700px;
    top: 65px;
}


.ubuntyz {
    position: absolute;
    width: 300px;
    height: auto;
    top: 180px;
    z-index: 2;
    left: 120px;
   
}

.Bubuntyz {
    position: absolute;
    width: 340px;
    height: 100px;
    background-color: #3f3f3f;
    top: 168px;
    left: 100px;
    border-radius: 10px;
}


.Bbbbubuntyz {
    position: absolute;
    width: 340px;
    height: 100px;
    top: 168px;
    z-index: 3;
    left: 100px;
    border-radius: 10px;
}



.windowss {
    position: absolute;
    height: auto;
    width: 400px;
    left: 72px;
    z-index: 2;
    top: 290px;
    
}



.Bwindows {
    position: absolute;
    width: 340px;
    height: 100px;
    background-color: #3f3f3f;
    top: 320px;
    left: 100px;
    border-radius: 10px;
}



.windodow {
    position: absolute;
    width: 340px;
    height: 100px;
    top: 325px;
    z-index: 3;

    left: 100px;
    border-radius: 10px;
}