

body {
    background-color: #303030;
    
}

.skinbox {
    position: absolute;
    width: 300px;
    height: 450px;;
    background-color: #1f1c1c;
    right: 40px;
    top: 50px;
    border-radius: 15px;
}


.title {
    position: absolute;
    width: 400px;
    height: 60px;
    background-color: #3a3838;
    border-radius: 5px;
    top: 40px;
    left: 3%;
    animation-name: search_types;
    animation-duration: 2s;
    color: white;
    font-size: 20px;
    font-family: 'Signika Negative', sans-serif;
}

@keyframes search_types {
    from { width:0px;}
    to {width:400px;}
    }
    .input_search_box::-webkit-input-placeholder{
       -webkit-animation: search_types 5s infinite linear;
    }




