body {
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(19, 16, 16));
}

.cointainer {
    font-size: 40px;
    height: 1px;
    font-family: "Rowdies", sans-serif;
}

.title {
    width: auto;
    text-align: center;
    left: 60px;
    position: absolute;
    font-family: "Bebas Neue", sans-serif;
    color: white;
}
.subtitle {
    position: absolute;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    width: auto;   
    top: 90px;
    font-size: 30px;
    left: 140px;  
}

.drpanayioths {
    position: absolute;
}
