body {
    background-image: url("https://i.ibb.co/D7FP3rz/1975185.jpg");
}

.cointainer {
    font-size: 40px;
    height: 1px;
    font-family: "Rowdies", sans-serif;
}


.title {
    width: auto;
    text-align: center;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translate(-50%);
    font-size: 70%;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    z-index: 2;
    user-select: none;
}
.subtitle {
    position: absolute;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    width: auto;   
    top: 90px;
    font-size: 100%;
    left: 50%;  
    transform: translate(-50%);
    user-select: none;
}

.background_box_title {
    background: linear-gradient(to right, rgba(255, 127, 80, 0.3), rgba(255, 218, 185, 0.3));
    color: #333333; /* Text color */
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    width: 40%;
    top: 5px;
    height: 50px;
    left: 50%;
    transform: translate(-50%);
}
