body {
    cursor: url("Cookie.png"), auto;
    background-color: rgb(133, 87, 31);
}

.contbox{
    position: absolute;
    top: 400px;
    left: 705px;
    border-radius: 5px;
    width: 1300px;
    height: 700px;
    background-color: rgb(216, 188, 155);
    transform: translate(-50%, -50%);
}

.allwithone {
    position: absolute;
    top: 400px;
    left: 705px;
    border-radius: 5px;
    width: 1300px;
    font-family: 'Roboto', sans-serif;
    height: 700px;
    transform: translate(-50%, -50%);
}

.inputs {
    position: absolute;
}