body {
  background-color: rgb(121, 121, 121);
}

.contbox{
  position: absolute;
  top: 400px;
  left: 705px;
  border-radius: 5px;
  width: 1300px;
  height: 700px;
  background-color: rgb(209, 209, 209);
  transform: translate(-50%, -50%);
}





/* Titles Section */

.basicinfo {
  user-select: none;
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 50px;
  left: 580px;
  color: rgb(114, 114, 114);
}

.contract {
  user-select: none;
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 215px;
  left: 555px;
  color: rgb(114, 114, 114);
}

.bodyinfo {
  user-select: none;
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 335px;
  left: 570px;
  color: rgb(114, 114, 114);
}











/* Username */

.input1 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 97px;
  outline: none;
  left: 380px;
}
.usern1 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 80px;
  left: 380px;
}

/* Miidle Name */

.input2 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 97px;
  outline: none;
  left: 580px;
}

.usern2 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 80px;
  left: 580px;
}

/* Surname */

.input3 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 97px;
  outline: none;
  left: 770px;
}

.usern3 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 80px;
  left: 770px;
  
}

/* Telephone */

.input4 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 280px;
  left: 380px;
  outline: none;
}
.usern4 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 260px;
  left: 380px;
}

/* Email */

.input8 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 280px;
  left: 575px;
  outline: none;
}
.usern8 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 260px;
  left: 575px;
}

/* Discord */

.input9 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  outline: none;
  top: 280px;
  left: 770px;
}
.usern9 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 260px;
  left: 770px;
}

.input9::-webkit-outer-spin-button,
.input9::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




/* ΑΦΜ */


.input7 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 160px;
  left: 380px;
  outline: none;
}
.usern7 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 143px;
  left: 380px;
  
}

.input7::-webkit-outer-spin-button,
.input7::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Birth */


.input5 {
  position: absolute;
  outline: none;
  font-family: 'Roboto', sans-serif;
  top: 160px;
  left: 575px;
  width: 170px;
}
.usern5 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 143px;
  font-size: 15px;
  left: 570px;
}

/* Age */

.input6 {
  position: absolute;
  outline: none;
  font-family: 'Roboto', sans-serif;
  top: 160px;
  left: 770px;
}

.usern6 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 143px;
  left: 770px;
}

/* Height */


.input10 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  outline: none;
  top: 390px;
  left: 380px;
}
.usern10 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 370px;
  left: 380px;
}


/* Weight */


.input11 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 390px;
  outline: none;
  left: 575px;
}
.usern11 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 370px;
  left: 575px;
}

/* Body Status */


.input12 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 390px;
  outline: none;
  left: 770px;
}
.usern12 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 370px;
  font-size: 15px;
  left: 770px;
}




/* Submit System And Final Shower */

.subthetext {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 450px;
  left: 560px;
}


.finalform {
  position: absolute;
  width: 700px;
  height: 100px;
  bottom: 10px;
  left: 320px;
  font-size: 11px;
  font-family: 'Oswald', sans-serif;
  outline: 1px solid rgb(68, 68, 2);
}



/* Home Button */
.backhome {
  position: absolute;
  height: auto;
  width: 35px;
}

.backofhomeplace {
  position: absolute;
  background-color: black;
  width: 100px;
  height: 30px;
  border-radius: 3px;
}

.texthome {
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: white;
  user-select: none;
  left: 35px;
}

.redircterboxofhome {
  position: absolute;
  width: 100px;
  height: 30px;
  border-radius: 3px;
  z-index: 2;
}