body {
    cursor: url("Cookie.png"), auto;
    background-color: rgb(133, 87, 31);
}

.contbox{
    position: absolute;
    top: 400px;
    left: 705px;
    border-radius: 5px;
    width: 1300px;
    height: 700px;
    background-color: rgb(216, 188, 155);
    transform: translate(-50%, -50%);
}


/* Cookie Roll */

.cookieroll {
    user-select: none;
    position: absolute;
    right: 69%;
    z-index: 2;
    bottom: 300px;
    animation-name: rollcok;
    opacity: 0.9;
    animation-duration: 1s;

        
}

@keyframes rollcok{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
   
}


/* Info Place */

.infobox {
    position: absolute;
    top: 20px;
    width: 300px;
    text-align: center;
    height: 500px;
    background-color: rgb(202, 146, 41);
    z-index: 2;
    border-radius: 5px;
    outline: rgb(29, 28, 28) solid 3px;
}

/* Cookies Counter */

.titlecokkie{
    position: absolute;
    top: 265px;
    font-size: 20px;
    font-family: 'Vina Sans', sans-serif;
    left: 125px;
    z-index: 3;
    border-radius: 3px;
}
.textcokkie {
    user-select: none;
    position: absolute;
    top: 290px;
    text-align: center;
    font-size: 20px;
    font-family: 'Vina Sans', sans-serif;
    left: 145px;
    z-index: 2;
    border-radius: 3px;
}

.dontclickbox {
    position: absolute;
    top: 20px;
    left: 7px;
    width: 300px;
    height: 500px;
    z-index: 2;
    border-radius: 5px;
    z-index: 5;
}