body {
  background-color: rgb(121, 121, 121);
}

.contbox{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  width: 70%;
  height: 70%;
  background-color: rgb(209, 209, 209);
  transform: translate(-50%, -50%);
}





/* Titles Section */

.basicinfo {
  user-select: none;
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  color: rgb(114, 114, 114);
}

.contract {
  user-select: none;
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 215px;
  left: 50%;
  transform: translate(-50%);
  color: rgb(114, 114, 114);
}

.bodyinfo {
  user-select: none;
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 335px;
  left: 50%;
  transform: translate(-50%);
  color: rgb(114, 114, 114);
}











/* Username */

.input1 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 97px;
  outline: none;
  border: 1px solid #ccc; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-left: 7px;
  left: 26.3%;
}
.usern1 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 80px;
  left: 26.5%;
}

/* Miidle Name */

.input2 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 97px;
  outline: none;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid #ccc; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-left: 7px;
}

.usern2 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 80px;
  left: 44%;
}

/* Surname */

.input3 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 97px;
  outline: none;
  right: 30%;
  border: 1px solid #ccc; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-left: 7px;
}

.usern3 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 80px;
  right: 37%;
  
}

/* Telephone */

.input4 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 280px;
  left: 26.3%;
  outline: none;
  border: 1px solid #ccc; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-left: 7px;
}
.usern4 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 263px;
  left: 26.5%;
}

/* Email */

.input8 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 280px;
  left: 50%;
  transform: translate(-50%);
  outline: none;
  border: 1px solid #ccc; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-left: 7px;
}
.usern8 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 263px;
  left: 44%;
}

/* Discord */

.input9 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  outline: none;
  top: 280px;
  right: 30%;
  border: 1px solid #ccc; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-left: 7px;
}
.usern9 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 260px;
  right: 36.5%;
}

.input9::-webkit-outer-spin-button,
.input9::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




/* Tax Number */


.input7 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 160px;
  left: 26.3%;
  outline: none;
  border: 1px solid #ccc; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-left: 7px;
}
.usern7 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 143px;
  left: 26.5%;
  
}

.input7::-webkit-outer-spin-button,
.input7::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Birth */


.input5 {
  position: absolute;
  outline: none;
  font-family: 'Roboto', sans-serif;
  top: 160px;
  left: 50%;
  transform: translate(-50%);
  width: 165px;
  border: 1px solid #ccc; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-left: 7px;
}
.usern5 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 143px;
  font-size: 15px;
  left: 44%;
}

/* Age */

.input6 {
  position: absolute;
  outline: none;
  font-family: 'Roboto', sans-serif;
  top: 160px;
  right: 30%;
  border: 1px solid #ccc; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-left: 7px;
}

.usern6 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 143px;
  right: 38.9%;
}

/* Height */


.input10 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  outline: none;
  top: 390px;
  left: 26.3%;
  border: 1px solid #ccc; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-left: 7px;
}
.usern10 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 374px;
  left: 26.5%;
}


/* Weight */


.input11 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 390px;
  outline: none;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid #ccc; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-left: 7px;
}
.usern11 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 374px;
  left: 44%;
}

/* Body Status */


.input12 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 390px;
  outline: none;
  right: 30%;
  border: 1px solid #ccc; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-left: 7px;
}
.usern12 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 375px;
  font-size: 15px;
  right: 30%;
}




/* Submit System And Final Shower */

.subthetext {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 475px;
  border-radius: 20px;
  left: 50%;
  transform: translate(-50%);
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  background-color: #f0f0f0;
  color: #333;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.subthetext:hover {
  background-color: #d9d9d9;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}


.finalform {
  position: absolute;
  width: 700px;
  height: 100px;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  font-size: 11px;
  resize: none;
  font-family: 'Oswald', sans-serif;
  outline: none;
  cursor: text;

}



/* Home Button */
.backhome {
  position: absolute;
  height: auto;
  width: 30px;
}

.backofhomeplace {
  position: absolute;
  background-color: rgb(179, 177, 177);
  width: 100px;
  height: 30px;
  top: 4px;
  left: 3px;
  opacity: 1;
  border-radius: 8px;
}

.texthome {
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  color: white;
  user-select: none;
  left: 30px;
  top: 1.3px;
}

.redircterboxofhome {
  position: absolute;
  width: 100px;
  height: 30px;
  border-radius: 3px;
  z-index: 2;
  cursor: pointer;
}



/* Legal Notice */
.legal_notice {
  position: fixed;
  color: rgb(68, 68, 68);  
  font-size: small;
  font-family: "Oswald", sans-serif;
  top: 5px;
  left: 50%;
  transform: translate(-50%);
  width: 650px;
}

.legal_notice_contine {
  position: fixed;
  color: rgb(68, 68, 68);  
  font-size: small;
  font-family: "Oswald", sans-serif;
  top: 30px;
  left: 63%;
  transform: translate(-60%);
  width: 650px;
}



